<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Producto</title>
    <link rel="stylesheet" href="/styles/styles_taller.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

</head>
<body>

    <nav class="app__navegacion" id="nav-bar">
        <ul class="app__lista-nav">
           <li class="app__item-navegacion app__item-navegacion--carrito"><i class="fas fa-reply-all"></i></li>

                    <li class="app__item-navegacion app__item-navegacion--titulo">CECKOUT</li>

                    <li class="app__item-navegacion app__item-navegacion--carrito"> <i class="app__carrito" data-feather="shopping-cart"></i></li>
        </ul>
    </nav>
    
    <div class="carrito">
        
    </div>



    <script src="/js/taller2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>       


</body>
</html>